<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">

</head>
<body>

	<div class="site">
		<div class="header">
			<h1 class="title"><a href="/">{{ site.name }}</a></h1>
		</div>

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/all-published.html">Published research papers</a></li>
				<li><a href="/all-explanations.html">Plain English research paper explanations</a></li>
				<li><a href="/all-tutorials.html">Physics tutorials</a></li>
				<li><a href="/all-reference.html">Plain Engish philosophy</a></li>
			</ul>
		</nav>

		<div class="main">
			<header>
				<h1>{{ page.title }}{% if page.pagetype %} <span class="pagetype">({{ page.pagetype | capitalize }})</span>{% endif %}</h1>
				{% if page.pagetype == "published" && page.explanation %}
				<p><a href="/{{ page.explanation }}">Explanantion document</a></p>
				{% elsif page.pagetype == "explanation" && page.original %}
				<p><a href="/{{ page.original }}">Published document</a></p>
				{% endif %}
			</header>
			{{ content }}
		</div>

		<div class="footer">
			<small id="copyright">Copyright &copy; 2014 - Gary Bower</small>
		</div>
	</div>

</body>
</html>
